jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
matplotlib==2.1.0
mpmath==1.0.0
nltk==3.2.5
numpy==1.13.3
pandas==0.20.3
scipy==0.19.1
subprocess32==3.2.7
sympy==1.1.1
textblob==0.13.0
tornado==4.5.2
virtualenv==15.1.0